<div class="mdl-grid">
  <div class="mdl-cell mdl-cell--3-col-desktop">
       <weather-app></weather-app>
  </div>
  <div class="mdl-cell mdl-cell--1-col-desktop">  
  </div>
    <div class="mdl-cell mdl-cell--4-col-desktop">
      <h1>Main Mirror </h1> <i class="material-icons">settings_voice</i> 
  </div>
  <div class="mdl-cell mdl-cell--1-col-desktop">

  </div>
  <div class="mdl-cell mdl-cell--3-col-desktop">
      <div class="mdl-card">
        <div class="mdl-card__title">
            <h2 class="mdl-card__title-text">Calendar App </h2>
        </div>

        <div class="mdl-card__supporting-text">
        Some calendar stuff
        </div>
      </div>
       <div class="mdl-card">
        <div class="mdl-card__title">
            <h2 class="mdl-card__title-text">App 2</h2>
        </div>

        <div class="mdl-card__supporting-text">
        Some calendar stuff
        </div>
      </div>
       <div class="mdl-card">
        <div class="mdl-card__title">
            <h2 class="mdl-card__title-text">App 3 </h2>
        </div>

        <div class="mdl-card__supporting-text">
        Some calendar stuff
        </div>
      </div>
  </div>
 
</div>
